.welcome {
  height: 100vh;
  padding: 2rem 1rem;
  width: 50%;
  margin: 0 auto;
  h3 {
    color: #fff;
    font-size: 3rem;
    padding: 2rem 1rem;
  }

  p {
    color: #fff;
    line-height: 2rem;
  }
}
